* {
    background: #141414;
}
.comment h3{
    color: #ff8177;
    text-align: center;
}
.comment input{
    background-color: white;
    width: 100%;
}
.comment button {
    width: 60px;
    height: 30px;
    background-image: linear-gradient(to top, #f77062 0%, #fe51fe 100%);
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}
.card {
    display: flex;
    max-width: 3000px;
    margin: auto;
    padding-left: 8%;
    padding-right: 8%;
}
.card img {
    width: 300px;
    height: 380px;
    padding-left: 50px;
    padding-bottom: 5px;
}
.card .section {
    padding-left: 50px;
}
.card .section .like {
    display: flex;
}
.card .section .like i {
    color: #fff;
}
.card .section .like i:hover{
    color: #ff8177;
    cursor: pointer;
}
.card .section .like p {
    background-color: #141414;
    padding-left: 5px;
    color: #fff;
}
label {
    color: #fff;
}
li {
    display: block;
}

.card .section .comment .comments {
    display: flex;
}
#dynamic-listUName li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom li {
    padding-left: 30px;
    color: #fff;
}

#dynamic-listUName1 li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom1 li {
    padding-left: 30px;
    color: #fff;
}

#dynamic-listUName2 li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom2 li {
    padding-left: 30px;
    color: #fff;
}

#dynamic-listUName3 li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom3 li {
    padding-left: 30px;
    color: #fff;
}

#dynamic-listUName4 li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom4 li {
    padding-left: 30px;
    color: #fff;
}

#dynamic-listUName5 li {
    color: #ff8177;
    font-weight: bold;
}
#dynamic-listCom5 li {
    padding-left: 30px;
    color: #fff;
}